<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Streets</title>
</head>
<body>
    <div th:if="${not #lists.isEmpty(streets)}">
        <h2> Streets list </h2>
        <table class="table table-stripped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Length</th>
            </tr>
            <tr th:each="street : ${streets}">
                <td th:text="${street.id}"></td>
                <td th:text="${street.name}"></td>
                <td th:text="${street.length}"></td>
                <td> <a th:href="${'/street/' + street.id}"> View</a></td>
                <td> <a th:href="${'/street/edit/' + street.id}"> Edit</a></td>
                <td> <a th:href="${'/street/delete/' + street.id}"> Delete</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/street/new">New Street</a>
        </div>
    </div>
</body>
</html>