<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Street</title>
</head>
<body>
<div class="row">
    <div class="col-sm-6">
        <h2>Show Product</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Product Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${street.id}">Product Id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${street.name}">Description</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Price:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${street.length}">Price</p>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>